
<div class="container">
            
	<div class="row container" style="margin-bottom:1%;">
      <button type="button" class="btn btn-danger" style="width:100%;">Emergency<i class="fa fa-bell-o" aria-hidden="true"></i></button>
    </div>
    
	<div class="card" style="background-color:#C50000;">
		<div class="card-header"  style="text-align:center; background-color:#C50000; color:#FFFDEF;">Search Nearby</div>
    
	<div class="card-block" style="background:#FFFDEF;">
                  <div class="row justify-content-center">
                      <div class="col" style="width:75px; margin:3px; padding:3px; border-right:solid; border-right-width:thin; border-right-color:red;">
                         <a (click)="hospital()" class="links"><img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">
                         <p style="text-align:center;"><b>Hospitals</b></p></a>
                         <a (click)="clinics()" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                          <p style="text-align:center;"><b>Clinics</b></p></a>
                        
                        </div>
                      <div class="col" style="margin:3px; padding:3px;">
                          <a (click)="police()" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                            <p style="text-align:center;"><b>Police</b></p></a>
                       <a (click)="pharmacy()" class="links">   <img src="assets/notification.png" style="width:100%; height:auto;" class="mx-auto">                      
                       <p style="text-align:center;"><b>Pharmacy</b></p></a>
                      </div>              
                 </div>
              </div>
         </div>
  
  </div>