<!--
<div class="container" style="margin-top:100px">
	<router-outlet></router-outlet>
</div>

-->

    <!-- Navbar-->
    <nav class="navbar  navbar-light" style="background-color:#C50000;">
        <button  style="background-color:#FFFDEF;" class="navbar-toggler navbar-toggler-right" type="button"  id="menu-toggle"data-target="#menu-toggle" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" style="color:#FFFDEF">GHR</a>
      </nav>
    <!--navbar ends-->

 <!--Side  Navbar-->
 
      <div id="wrapper">
                  <!-- Sidebar -->
                  <div id="sidebar-wrapper">
                      <ul class="sidebar-nav">
                          <li class="sidebar-brand">
                              <a href="#" (click)="profile()" id="profilename">
                                  Username
                              </a>
                          </li>
                          <li>
                              <a id="register" routerLink="/registration"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Register</a>
                          </li>
                          <li>
                              <a id="login" routerLink="/login">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Login
                              </a>         
                          </li>
                          <li>
                              <a routerLink="/dashboard" id="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;&nbsp;Dashboard</a>
                          </li>
                          <li>
                              <a href="#" (click)="logout()" id="about"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a>
                          </li>
                         
                      </ul>
                  </div>
                  <!-- /#sidebar-wrapper -->
          
                  <!-- Page Content -->
                  <div id="page-content-wrapper">
                      
                     
                          <router-outlet></router-outlet>
                        
                       
                  </div>
                  <!-- /#page-content-wrapper -->
              </div>
  